.avatar-icon {
    display: block;
    width: 44px;
    height: 44px;
    transition: all .2s;
    opacity: 1;
    border-radius: 50px;
}

.avatar-icon img {
    width: 100%;
    height: 100%;
}

.avatar-icon.rounded {
    border-radius: .39rem !important;
}

.avatar-icon {
    border: #fff solid 3px;
    overflow: hidden;
}

.avatar-icon-wrapper {
    display: inline-block;
    margin-right: .1rem;
    position: relative;
}

.avatar-icon-wrapper .badge-dot.badge-dot-lg.badge-bottom {
    top: auto;
    right: 0;
    bottom: 0;
}

.avatar-icon-wrapper .badge-dot.badge-dot-lg {
    width: 14px;
    height: 14px;
    border: #fff solid 2px;
    top: 0;
    right: 0;
}

.avatar-icon-wrapper .badge.badge-bottom {
    top: auto;
    right: -2px;
    bottom: -2px;
}

.avatar-icon-wrapper .badge-dot {
    width: 10px;
    height: 10px;
    border: #fff solid 2px;
}

.avatar-icon-wrapper .badge {
    position: absolute;
    right: -2px;
    top: -2px;
}

.badge-dot-lg {
    width: 10px;
    height: 10px;
}

.badge-dot {
    text-indent: -999em;
    padding: 0;
    width: 8px;
    height: 8px;
    border: transparent solid 1px;
    border-radius: 30px;
    min-width: 2px;
}

.badge-success {
    color: #fff;
    background-color: #3ac47d;
}

.chat-box-wrapper .chat-box {
    box-shadow: 0 0 0 transparent;
    position: relative;
    opacity: 1;
    background: #e0f3ff;
    border: 0;
    padding: .75rem 1.5rem;
    border-radius: 30px;
    border-top-left-radius: .25rem;
    flex: 1;
    display: flex;
    max-width: 50%;
    min-width: 100%;
    text-align: left;
}

.chat-box-wrapper {
    display: flex;
    clear: both;
    padding: .75rem;
}

.chat-box-wrapper .chat-box+small {
    text-align: left;
    padding: .5rem 0 0;
    margin-left: 1.5rem;
    display: block;
}

.form-control-custom {
    height: calc(3.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 1.2rem;
}

.custom-send {
    display: block !important;
    text-align: right;
    border-top: none;
    padding: .5rem 1.25rem;
}

.btn-send {
    height: 35px;
    border-radius: 40px;
    color: #fff;
    background-color: #1bcfbb;
    margin-left: 10px;
    line-height: 1;
    padding: .375rem 1.25rem;
}

.fa-paper-plane {
    font-size: 15px;
}

.upload_image {
    display: none;
}

.image-box {
    white-space: nowrap;
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    margin-bottom: 5px;
    overflow-x: auto;
    overflow-y: hidden;
}

.image-box .item-image:last-child {
    margin-right: 0;
}

.image-box .item-image {
    margin-right: 10px;
    display: inline-block;
    position: relative;
}

.image-box .item-image .remove-image {
    position: absolute;
    right: -5px;
    top: -10px;
    color: #888;
    cursor: pointer;
    background: #fff;
    line-height: 1;
    border-radius: 100%;
}

.image-box .item-image img {
    height: 60px;
    width: 60px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
}

.card-custom {
    display: block !important;
}

.image-box {
    display: none;
}

.fa-image {
    font-size: 16px;
}

.fa-trash-alt {
    font-size: 12px;
    color: crimson;
}

.widget-content-right {
    display: none;
}

.widget-content-wrapper:hover .widget-content-right {
    display: block;
}

.custom-header {
    justify-content: space-between;
}

.custom-block-send {
    width: 100%;
}

.custom-block-send .chat-box-wrapper {
    justify-content: flex-end;
}

.img-chat {
    width: 12px;
    height: 12px;
}

.chat-box img {
    max-width: 80px;
    max-height: 80px;
}

.widget-content-wrapper a {
    text-decoration: none !important;
}

.icon-del .fa-times {
    box-shadow: 0 0 0 transparent;
    position: relative;
    opacity: 1;
    border: 0;
    padding: .75rem 0.5rem;
    border-radius: 30px;
    border-top-left-radius: .25rem;
    flex: 1;
    display: flex;
    max-width: 50%;
    min-width: 100%;
    text-align: left;
}

.float-right:hover .icon-del {
    display: block;
}

.icon-del {
    display: none;
}

.chat-box-wrapper:hover .icon-del {
    display: block;
}

.content-chat {
    display: flex;
    flex-direction: column-reverse;
}

.chat-box {
    flex-direction: column;
}