.error-valid {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #d92550;
}

.alert-danger {
    margin-top: 5px;
}

.image img {
    width: 100px;
    height: 100px;
}

.image-cate img {
    width: 60px;
    height: 60px;
}

.form-delete {
    display: inline-block;
}

.label-show {
    background-color: aquamarine;
}

.label-show span {
    padding: 5px;
}

.label-show {
    background-color: aquamarine;
}

.label-show span {
    padding: 5px;
}

.label-hide {
    background-color: yellow;
}

.label-hide span {
    padding: 5px;
}

.w-100 {
    min-width: 100px;
}

.block-image-upload {
    min-height: 150px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.preview-image {
    display: inline-flex;
    padding: 10px;
    position: relative;
}

.preview-image img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.delete-preview-image {
    position: absolute;
    right: 2px;
}

.block-single-upload {
    position: relative;
}

.block-single-upload .preview-upload-image img {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    height: 200px;
}

.btn-photo-image {
    position: absolute;
    bottom: 45%;
    left: 37%;
    background: #686262a8;
    display: none;
}

.block-single-upload:hover .btn-photo-image {
    display: block;
}

.upload-single-image {
    display: none;
}

.scrollbar-sidebar:hover {
    overflow: auto;
}

.scrollbar-sidebar::-webkit-scrollbar {
    width: 4px;
}

.scrollbar-sidebar::-webkit-scrollbar-track {
    background: #fff;
}

.scrollbar-sidebar::-webkit-scrollbar-thumb {
    background: #ccc;
}

.app-page-title-custom {
    margin: 0px;
}

.main-card-custom {
    margin: 30px;
}

.block-upload-img-single {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.block-upload-img-single img {
    width: 200px;
    height: 200px;
    display: none;
}

.block-upload-img-single input {
    display: none;
}

.block-upload-img-single .label-custom {
    display: inline-block;
    width: 200px;
    padding: 10px;
    text-align: center;
    background-color: #3f6ad8;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
}

.block-upload-img-single .label-custom i {
    margin-left: 10px;
}

.was-validated-custom .invalid-feedback {
    display: block;
}

.app-header__logo .logo-src {
    background: url(../images/iconKNS.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 50px;
}

.was-validated-custom input {
    border-color: #d92550;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(2.25rem / 2) calc(2.25rem / 2);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
}

.bg-plum-plate {
    background: url(../images/background.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-animation {
    animation: unset;
}

.was-validated-custom input[type="text"] {
    border-color: #d92550!important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E")!important;
}

.was-validated-custom input[type="password"] {
    border-color: #d92550!important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E")!important;
}

.was-validated-custom input[type="email"] {
    border-color: #d92550!important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E")!important;
}

.w-120 {
    width: 120px;
}

.main-card table tbody tr td:last-child form {
    float: right;
}


/* The customcheck */

.customcheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
}


/* On mouse-over, add a grey background color */

.customcheck:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.customcheck input:checked~.checkmark {
    background-color: #3f6ad8;
    border-radius: 5px;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.customcheck input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.customcheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-question {
    float: right;
}

.label-detail-answer {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-right: 10px;
    margin-top: 2px;
}

.card-custom {
    background-color: white;
    margin-bottom: 10px;
}

.check-answer {
    color: #3ac47d;
}

.check-answer {
    color: #3ac47d;
}

.invalid-feedback1 {
    color: #d92550;
    font-size: 80%;
}

.was-validated-custom input[type="number"] {
    border-color: #d92550!important;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E)!important;
}

.timeline-title {
    font-weight: bold;
}

.logo-src-view {
    background: url(../images/iconKNS.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 50px;
}

.image-view {
    height: 50px;
    margin-right: 15px;
    margin-left: 15px;
}

.content-support {
    padding: 0 50px;
    margin-top: 90px;
    margin-bottom: 20px;
}

.header-custom {
    background-color: #ffffff;
}

.content-support .title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.detail-support {
    font-size: 15px;
}

.project-role label,
.text-role {
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: left;
    color: #576271;
    font-size: 15px;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    background-color: #e9e9e9;
}

input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    background-color: #1E80EF;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.description-permission {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
    letter-spacing: normal;
}

.classes {
    width: 223px;
}

.text {
    font-size: 14px;
}

.custom-widget {
    height: 43px;
}

.custom-widget .widget-content-right {
    display: block !important;
}

.custom-search {
    height: 35px;
    margin-top: -4px;
}

.search-input {
    width: 80%;
    display: inline;
}

.maps_popover-content {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    padding-left: 20px;
}

.maps_popover-content h4 {
    font-family: SVN-GilroyBold;
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #353796;
    margin-bottom: 10px;
}

.maps_popover-content span {
    font-family: SVN-Gilroy;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .91px;
    color: #5b616c;
    margin: 0;
}

#mapstudent {
    margin-bottom: 50px;
}